<!doctype html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Air Quality</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
            <img src="../Images/Logo-removebg-preview.png" alt="" width="100" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, User
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Cart.html"> <i class="fa fa-shopping-cart"></i> Your Cart</a>
                            <a class="dropdown-item" href="orders.html">Your Orders</a>
                            <a class="dropdown-item" href="login.html">LogOut</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="card">
            <div class="card-header">
                Order #1
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h6 class="mb-3">To:</h6>
                        <div>
                            <strong>BobMart</strong>
                        </div>
                        <div>Attn: Daniel Marek</div>
                        <div>43-190 Mikolow, Poland</div>

                    </div>



                </div>

                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">#</th>
                                <th>Item</th>
                                <th class="right">Unit Cost</th>
                                <th class="center">Qty</th>
                                <th class="right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center">1</td>
                                <td class="left strong">Awesome product</td>

                                <td class="right">$120,00</td>
                                <td class="center">1</td>
                                <td class="right">$120,00</td>
                            </tr>
                            <tr>
                                <td class="center">2</td>
                                <td class="left">Awesome product</td>
                                <td class="right">$99,00</td>
                                <td class="center">2</td>
                                <td class="right">$198,00</td>
                            </tr>
                            <tr>
                                <td class="center">3</td>
                                <td class="left">Awesome product</td>
                                <td class="right">$140,00</td>
                                <td class="center">1</td>
                                <td class="right">$140,00</td>
                            </tr>
                            <tr>
                                <td class="center">4</td>
                                <td class="left">Awesome product</td>

                                <td class="right">$220,00</td>
                                <td class="center">1</td>
                                <td class="right">$220,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">

                    </div>

                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>

                                <tr>
                                    <td class="left">
                                        <strong>Total</strong>
                                    </td>
                                    <td class="right">
                                        <strong>678,00$</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <p></p>
    <a href="orders.html" class="btn btn-info btn-sm" role="button">Go Back </a>


    <script src="../Scripts/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>